[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pylint = "*"

[packages]
torch = "*"
torchvision = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
