.Auth {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49rem;
    height: 20rem;
    position: relative;
    background: #777;
}

.FormContainer {
    position: absolute;
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    padding: 1rem;
    background: white;
    transform: scale(1.2);
}

.FormContainer > div {
    height: 100%;
    box-sizing: border-box;
}

.Left {
    left: 10%;
    transition: left .75s;
}

.Right {
    left: 50%;
    transition: left .75s;
}

.Shown {
    display: block;
}

.Hide {
    display: none;
}

.LoginToggle {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.LoginToggle > button {
    width: 70%;
    padding: .5rem;
    font: inherit;
    border: none;
    background: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.Oauth2Login {
    height: 90%;
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.Oauth2Login > h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    font: inherit;
    color: #eee;
}

.Oauth2Login > button {
    font: inherit;
    background: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.Oauth2Login > button:focus {
    outline: none;
}

.Oauth2Login > p {
    width: 100%;
    margin: 0 0 1rem 0;
    text-align: center;
    display: block;
}

.Oauth2Login > button.SignUpButton {
    padding: .5rem 1rem;
    background: #eee;
}

.LoginToggle > button:hover,
.Oauth2Login > button.SignUpButton:hover {
    background: #ccc;
}