.SliderContainer {
    display: inline-block;
    margin: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.SliderContainer > label {
    display: block;
    margin-bottom: .5rem;
}

.SliderContainer > label::first-letter {
    text-transform: capitalize;
}

.Slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 7.9px 0;
}

.Slider:focus {
    outline: none;
}

.Slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 4.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(153, 153, 153, 0.78);
    border-radius: 0px;
    border: 0px solid #777777;
}

.Slider::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 0px solid #00001e;
    height: 20px;
    width: 21px;
    border-radius: 50px;
    background: #999999;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.9px;
}

.Slider:focus::-webkit-slider-runnable-track {
    background: rgba(166, 166, 166, 0.78);
}

.Slider::-moz-range-track {
    width: 100%;
    height: 4.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(153, 153, 153, 0.78);
    border-radius: 0px;
    border: 0px solid #777777;
}

.Slider::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 0px solid #00001e;
    height: 20px;
    width: 21px;
    border-radius: 50px;
    background: #999999;
    cursor: pointer;
}
.Slider::-ms-track {
    width: 100%;
    height: 4.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.Slider::-ms-fill-lower {
    background: rgba(140, 140, 140, 0.78);
    border: 0px solid #777777;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.Slider::-ms-fill-upper {
    background: rgba(153, 153, 153, 0.78);
    border: 0px solid #777777;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.Slider::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 0px solid #00001e;
    height: 20px;
    width: 21px;
    border-radius: 50px;
    background: #999999;
    cursor: pointer;
    height: 4.2px;
}

.Slider:focus::-ms-fill-lower {
    background: rgba(153, 153, 153, 0.78);
}

.Slider:focus::-ms-fill-upper {
    background: rgba(166, 166, 166, 0.78);
}