.SideDrawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 70%;
    width: 20rem;
    background: white;
    transition: transform 0.3s ease-out;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}